<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <section class="container-sm text-center">
      <%- include('./partials/createTask.ejs') %>
    </section>
    <div class="container-sm mt-5 text-center">
      <h1 class="mb-4">Tasks</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Completed</th>
            <th scope="col">In progress</th>
            <th scope="col">User id</th>
          </tr>
        </thead>
        <tbody>
          <% if (data.length >= 1) { %>
            <% data.forEach(e => { %>
              <tr>
                <th scope="row"><%- e?.dataValues?.id %></th>
                <td><%- e?.dataValues?.name %></td>
                <td><%- e?.dataValues?.description %></td>
                <td><%- e?.dataValues?.completed %></td>
                <td><%- e?.dataValues?.inProgress %></td>
                <td><%- e?.dataValues?.userId %></td>
              </tr>
              <% }) %>
           
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
  <script src="/js/bootstrap.bundle.min.js"></script>
</html>
